<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Zacks Gallery strives to create a bridge for humankind to connect and delight in the diverse
                        expressions of artists who  wish to convey their thoughts, visions, historical backgrounds,
                        ideals and love for this World.

                        Through it all, we value diversity and light to illuminate life in every way,

                        invigorating the art world, our communities, cities and countries.

                        Our vision is to share our artist's work internationally, showcasing a culturally diverse world view.
                    </p>
                    <p class="footer-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                        <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://zacksgallery.com"
                            target="_blank">Zacks Gallery</a> and distributed by <a href="https://rosaritocentro.com"
                            target="_blank">Rosarito Centro</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">
                        <form target="_blank" novalidate="true"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Enter Email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required=""
                                type="email">
                            <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="{{site.facebook_username}}"><i class="fa fa-facebook"></i></a>
                        <!--a href="{{site.instagram_username}}"><i class="fa fa-instagram"></i></a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->