<!-- Head -->

<!-- Site Title -->
<title>{{site.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
<link rel="manifest" href="/img/site.webmanifest" />
<!-- meta character set -->
<meta charset="UTF-8">
<meta property="og:image" content="https://zacksgallery.com/img/zacks-gallery-og.png">
<meta property="og:image:height" content="192">
<meta property="og:image:width" content="192">
<meta property="og:description"
    content="Zacks Gallery strives to create a bridge for humankind to connect and delight in the different expressions of each artist">
<meta property="og:url" content="https://zacksgallery.com">
<meta property="og:title" content="Zacks Gallery">

<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

<link rel="stylesheet" href="css/linearicons.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/magnific-popup.css">
<link rel="stylesheet" href="css/nice-select.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/main.css">

<!-- End Head -->