<!DOCTYPE html>
<html lang="us-en">

<head>
    {% include head.html %}
    {% include datos.html %}
    {% include analytics.html %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ page.name }}",
  "jobTitle": "Visual Artist and Curator",
  "image": "{{ page.img | absolute_url }}",
  "description": "{{ page.description | strip_newlines | escape }}",
  "worksFor": {
    "@type": "Organization",
    "name": "Zack's Gallery"
  },
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Playas de Rosarito",
    "addressRegion": "Baja California",
    "addressCountry": "Mexico"
  },
  "imageGallery": [
    {% for img in page.images %}
      "{{ img | absolute_url }}"{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
</head>

<body>
    {% include header.html %}

    {{content}}

    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>